<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>This is Help page</title>
        <link rel="stylesheet" href="../CSS/style1.css">
        
        <script src="../JS/helpdesk.js"></script>

    </head>
    <body>
        <h1 class="myheading">404 ERROR </h1>
        <button type="button" onclick="greet()">How can I Help you?</button>
        <p class="mypara">Page Not found</p>
    </html>