<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/style1.css">
</head>
<body class="body">
    {{> header}}
    <hr>
    {{>nav}}
    <h1 class="myheading">ABOUT US </h1>
    <img class="img" src="../IMAGES/image.png" width="400px" alt="Study">
     
        <ul class="mypara1">
            <li>
                100% Job Placement Support.
            </li>
       
        
            <li>
               Mentors from Top Global Product companies.
            </li>
       
        
            <li>
              A Portfolio of Real-world Projects.
            </li>
       
       
            <li>
               Globally Recognized Certification.
            </li>
        
    
            <li>
              Live Classes available in English, தமிழ், ಕನ್ನಡ & हिंदी*
            </li>
        </ul>

    <h2 class="footer">This app was designed and developed by Archana </h2>
</body>
</html>