<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/style1.css">
</head>
<body class="body">
    
    <hr>
    {{> nav}}
    <h1 class="myheading">This is Contact Page</h1>
     <form class="container">
        <!DOCTYPE html>
<html>
<head>
    <title>Email Form</title>
</head>
<body>
   
<h2 class="mypara4">Contact Us</h2>

<form class="mypara4">
    <label for="name" class="mypara4">Your Name:</label><br>
    <input type="text" id="name" name="name" required><br>
    <label for="email" class="mypara4">Your Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    <label for="message"class="mypara4">Message:</label><br>
    <textarea id="message" name="message" rows="4" cols="50" required></textarea><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>
     </form>
    
    <p class="mypara2">Still have queries? Contact Us
       Request a Callback. 
       An expert from the admissions office will call you in the next 24 working hours.
        You can also reach out to us at cs@arcs.in or +91-9736097320</p>
    {{> footer}}
</body>
</html>