<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="../CSS/style1.css">
    <script src="../JS/helpdesk.js"></script>
</head>
<body class="body">
    {{> header}}
    <hr>
    {{>nav}}
    <h1 class="myheading">This is HelpDesk Page</h1>
    <img class="img" src="https://tse4.mm.bing.net/th/id/OIP.4lU3uvsPTtNf3cXo3zsVTQHaHa?rs=1&pid=ImgDetMain">
    <button type="button" onclick="greet()">How can I Help you?</button>
    {{>footer}}
</body>
</html>