<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/style1.css">
    
</head>
<body class="body">
    {{> header}}
    <hr>
    {{>nav}}
    
    <h1 class="myheading">Welcome to ARC E-Learning Platform</h1>
    <p class="mypara "> Never Stops Learning,Because Life Never Stops to Teaching!!</p>
    <img class="img" src="../IMAGES/Topper Girl.webp" width="400px" alt="Study">
    <h2 class="footer">This app is designed and developed by Archana </h2>
    
</body>
</html>