<nav>
    <a href="/" color="white">Home</a> ||
    <a href="/about1" color="white">About</a> ||
    <a href="/contact1" color="white">Contact</a> ||
    <a href="/service1" color="white">Service</a> ||
    <a href="/help1" color="white">Help</a> ||


</nav>